version: '3.1'

services:
  postgres_db:
    image: postgres:15-alpine
    container_name: postgres_db
    restart: always
    env_file:
      - .postgres_db.development.env
    ports:
      - 5432:5432
    volumes:
      - postgres_db:/var/lib/postgresql/data
      - ./postgres_db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_db:
    driver: local
